*
{
    margin: 20px;
    padding: 20px;
}
body
{
    background-color:cornflowerblue ;
    color: white;
}
header
{
    height: 100px;
    text-align: center;
    color: black;
    background-color: aqua;
}
nav
{
    height:50px;
    background-color:chocolate ;
}
section
{
    background-color:greenyellow ; 
    height:300px;
    width: 65%;
    float:left;
}
aside
{
    background-color:orange;
    height:300px;
    width:25%;
    float:right;
}
footer
{
    background-color:red;
    height:370px;
    float:bottom;
}